Import required packages

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

1. Read the Dataset and replace dashes (-) with 0.

In [2]:
# Reading dataset without empty row (1st).
laliga = pd.read_csv("Laliga.csv",skiprows=[0])
#laliga.head(10)#laliga.info()#laliga.describe(include='all').transpose()

In [3]:
# Replacing dashaes with 0.
laliga.replace(to_replace='-',value=0,inplace=True)
#laliga.head(10)

2. List of teams that have started playing between 1930-1980

In [12]:
#Check type of the column Debut & create a sub data frame for teams and debut year.
#print(laliga['Debut'].dtype)
teams = laliga[['Team','Debut']]
# Extract first 4 characters from Debut since Debut values are expressed in year-year form. 
teams['Debut']=teams['Debut'].str[:4]

#Convert Debut datatype from object to integer to be able to do algebraic operations.
teams['Debut'] = teams['Debut'].astype(str).astype('int64')
#teams['Debut'].dtype
teams[(teams.Debut>=1930) & (teams.Debut<=1980)]

                   Team  Debut
3              Valencia   1931
5               Sevilla   1934
8              Zaragoza   1939
9            Real Betis   1932
10  Deportivo La Coruna   1941
11           Celta Vigo   1939
12           Valladolid   1948
14       Sporting Gijon   1944
15              Osasuna   1935
16               Malaga   1949
17               Oviedo   1933
18             Mallorca   1960
19           Las Palmas   1951
21              Granada   1941
22       Rayo Vallecano   1977
23                Elche   1959
25             Hercules   1935
26             Tenerife   1961
27               Murcia   1940
28               Alaves   1930
29              Levante   1963
30            Salamanca   1974
31             Sabadell   1943
32                Cadiz   1977
34            Castellon   1941
37              Cordoba   1962
39           Recreativo   1978
40            Burgos CF   1971
41           Pontevedra   1963
46            Gimnastic   1947
49             Alcoyano   1945
50                 Jaen   1953
52           AD Almeria   1979
54               Lleida   1950
57               Condal   1956
58      Atletico Tetuan   1951
59     Cultural Leonesa   1955

3. Print the list of teams which came Top 5 in terms of points

In [27]:
#Convert Points' data type to int
laliga['Points']=laliga['Points'].astype('int64')
# Top 5 teams in terms of points
print(laliga[['Team','Points']].sort_values('Points',ascending=False).head(n=5).to_string(index=False))

            Team  Points
     Real Madrid    4385
       Barcelona    4262
 Atletico Madrid    3442
        Valencia    3386
 Athletic Bilbao    3368

4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

In [17]:
# Using if statement so function accepts max/min functions as arguments but return all values if no 
# arguments are provided. 
def goal_diff_count(x='all'):
    laliga[['GoalsFor','GoalsAgainst']] = laliga[['GoalsFor','GoalsAgainst']].astype('int64')
    goal_diff = laliga[['Team','GoalsFor','GoalsAgainst']]
    goal_diff['goals'] = goal_diff['GoalsFor'] - goal_diff['GoalsAgainst']
    goal_diff.drop(['GoalsFor','GoalsAgainst'],axis=1,inplace=True)
    if x=='all':
        return print(goal_diff.to_string(index=False))
    else:
        conditional_values = goal_diff[goal_diff.goals==x(goal_diff.goals)]
        #goal_diff.head()
        return print(conditional_values.to_string(index=False))

In [18]:
# Using the goal_diff_count function
# Print all teams with their goal differences.
goal_diff_count()

                Team  goals
         Real Madrid   2807
           Barcelona   2786
     Atletico Madrid   1225
            Valencia    929
     Athletic Bilbao    931
             Sevilla    307
            Espanyol   -280
       Real Sociedad     -2
            Zaragoza   -164
          Real Betis   -333
 Deportivo La Coruna   -136
          Celta Vigo   -346
          Valladolid   -413
    Racing Santander   -525
      Sporting Gijon   -399
             Osasuna   -334
              Malaga   -342
              Oviedo   -309
            Mallorca   -189
          Las Palmas   -399
          Villarreal    103
             Granada   -338
      Rayo Vallecano   -328
               Elche   -272
              Getafe   -113
            Hercules   -334
            Tenerife   -125
              Murcia   -385
              Alaves   -165
             Levante   -202
           Salamanca   -159
            Sabadell   -228
               Cadiz   -269
            Logrones   -198
           Castellon   -169
            Albacete    -90
             Almeria   -122
             Cordoba   -145
          Compostela    -42
          Recreativo    -94
           Burgos CF    -94
          Pontevedra    -56
            Numancia    -98
               Eibar    -28
              Arenas    -81
         Real Burgos    -38
           Gimnastic   -114
         Extremadura    -55
              Merida    -45
            Alcoyano   -107
                Jaen    -62
          Real Union    -31
          AD Almeria    -45
              Europa    -34
              Lleida   -112
             Leganes    -19
               Xerez    -28
              Condal    -20
     Atletico Tetuan    -34
    Cultural Leonesa    -31
              Girona      0

In [19]:
# Print team with maximum goal differences.
goal_diff_count(max)

        Team  goals
 Real Madrid   2807

In [20]:
# Print team with minimum goal differences.
goal_diff_count(min)

             Team  goals
 Racing Santander   -525

5. Create a new column with name “Winning Percent” and append it to the data set

In [25]:
# Convert datatypes of 'GamesPlayed' & 'GamesWon' in the data frame.
laliga[['GamesPlayed','GamesWon']]=laliga[['GamesPlayed','GamesWon']].astype('int64')
# Append 'Winning Percent' column in the dataframe.
laliga['Winning Percent'] = np.where(laliga['GamesPlayed']>0,(laliga['GamesWon']/laliga['GamesPlayed'])*100,0) 
# Print top 5 teams by winning percentage.
print((laliga[['Team','Winning Percent']].head()).to_string(index=False))

            Team  Winning Percent
     Real Madrid        59.630702
       Barcelona        57.241130
 Atletico Madrid        47.475134
        Valencia        44.557057
 Athletic Bilbao        43.772629

6. Group teams based on their “Best position” and print the sum of their points for all positions

In [11]:
# Group by data frame by 'BestPosition' and take the sum of other columns.
best_position = laliga.groupby('BestPosition').sum().reset_index()
# Print sum of Points for all positions.
print(best_position[['BestPosition','Points']].to_string(index=False))

 BestPosition  Points
            1   27933
            2    6904
            3    5221
            4    6563
            5    1884
            6    2113
            7    1186
            8    1134
            9      96
           10     450
           11     445
           12     511
           14      71
           15      14
           16      81
           17     266
           19      81
           20      34